.root {
  width: 100vw;
  min-height: 100vh;
  background: url("/bg.png");
  background-size: cover;
}

.nav {
  display: flex;
  align-items: center;
  padding: rhythm(4) rhythm(4) rhythm(6);
  background: rgba(0, 0, 0, 0.1);
  gap: rhythm(6);

  &__logo {
    height: 18px;
  }

  &__link {
    font-size: 18px;
    line-height: 28px;

    &[aria-current] {
      color: #9fb9ff;
      font-weight: 700;
      box-shadow: 0 2px 0 currentcolor;
    }
  }
}
