.dashboard {
  max-width: 520px;
  padding: rhythm(3);
  margin: auto;
  display: grid;
  gap: rhythm(3);

  @include responsive("mobile") {
    padding: rhythm(2) rhythm(2) rhythm(5);
  }
}

.dashboard__row {
  display: grid;
  gap: rhythm(3);
}

.dashboardCard {
  display: grid;
  gap: rhythm(3);
}

.paneHeading {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  margin-bottom: rhythm(1.5);

  &.small {
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: rhythm(0.5);
  }
}

.cardHeading {
  display: flex;
  align-items: center;

  &__icon {
    width: 108px;
    height: 108px;
    border-radius: 50%;
    background: #000;
    margin-right: rhythm(3);
  }

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: rhythm(1);
  }

  &__title {
    font-size: 17px;
    line-height: 24px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: rhythm(1);

    > strong {
      font-weight: 600;
    }
  }

  &__row {
    display: flex;
    gap: rhythm(1.5);
  }

  @include responsive("mobile") {
    display: block;

    &__icon {
      width: 64px;
      height: 64px;
      margin: 0 0 rhythm(2);
    }

    &__title {
      font-size: 15px;
    }
  }
}

.twoColumnGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: rhythm(2.5);

  @include responsive("mobile") {
    grid-template-columns: 1fr;
  }
}

.threeColumnGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: rhythm(1.5);

  @include responsive("mobile") {
    grid-template-columns: 1fr;
  }
}

.number {
  font-size: 20px;
  line-height: 32px;
  font-family: "DigitalNumbers", monospace;
  text-shadow: 1px 1px 5px #ffffff99;

  &.large {
    font-size: 28px;
    line-height: 40px;
  }

  &.small {
    font-size: 16px;
    line-height: 24px;
  }

  > span {
    font-family: "Satoshi" sans-serif;
    font-weight: 500;
    margin-left: rhythm(2);
    line-height: 1;
    vertical-align: -2px;
  }
}

.paneText {
  display: block;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  margin-top: rhythm(1);
}

.paneSubheading {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  margin-top: rhythm(-1);
  margin-bottom: rhythm(2);
  text-align: left;
  color: #93a1b8;
}

.button {
  white-space: nowrap;
  padding-left: rhythm(3);
  padding-right: rhythm(3);
  height: 44px;
  border-radius: rhythm(3);
  background: #ffffff33;
  border: 1px solid #ffffff33;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;

  &.small {
    height: 28px;
    font-size: 13px;
    text-transform: uppercase;
    padding-left: rhythm(1.5);
    padding-right: rhythm(1.5);
    font-weight: 500;
  }
}

.pane {
  border-radius: rhythm(2);
  background: linear-gradient(30.52deg, #0d1329 29.99%, rgba(98, 98, 98, 0.01) 353.12%);
  padding: rhythm(3);
}

.green {
  color: #59ae99;
}

.red {
  color: #ce5e5e;
}

.modal {
  position: fixed;
  z-index: 10000;
  inset: 0;

  &__bg {
    position: absolute;
    z-index: 1;
    inset: 0;
    background: rgba(0, 0, 0, 0.75);
  }

  &__box {
    position: absolute;
    z-index: 10;
    inset: 0;
    width: 50vw;
    height: max-content;
    margin: auto;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: rhythm(4);
  }

  &__text {
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    color: #93a1b8;
  }

  &__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: rhythm(5);
  }

  &__bgroup {
    display: flex;
    align-items: center;
    justify-content: end;

    > button {
      width: 200px;
    }
  }
}

.input {
  border: 1px solid #93a1b8;
  border-radius: rhythm(1);
  padding: rhythm(1.5) rhythm(2);

  &__label {
    display: block;
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
    margin-bottom: rhythm(1);
  }

  &__top,
  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__top {
    margin-bottom: rhythm(0.75);
  }

  &__bottom {
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
  }

  &__input {
    font-size: 18px;
    line-height: 24px;

    &::placeholder {
      color: #93a1b8;
    }
  }

  &__takenSymbol {
    font-size: 14px;
    font-family: "DigitalNumbers", monospace;
    text-shadow: 1px 1px 5px #ffffff99;
  }
}
