@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Variable.woff2") format("woff2");
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "DigitalNumbers";
  src: url("/fonts/DigitalNumbers-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  text-size-adjust: 100%;
  font-family: "Satoshi", "DigitalNumbers", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
