@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Variable.woff2") format("woff2");
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "DigitalNumbers";
  src: url("/fonts/DigitalNumbers-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  line-height: 1;
  font-size: 16px;
  text-size-adjust: 100%;
  font-family: "Satoshi", "DigitalNumbers", sans-serif;
  color: #fff;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

b,
strong {
  font-weight: bolder;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

dl,
dd {
  margin: 0;
}

button,
input {
  padding: 0;
  margin: 0;
  font: inherit;
  background: transparent;
  border: 0;
  outline: none;
  appearance: none;
  color: inherit;
}

button {
  cursor: pointer;
  user-select: none;
}

img {
  vertical-align: bottom;
}

table {
  border-collapse: collapse;
}
