.lending {
  max-width: 1280px;
  padding: rhythm(3);
  margin: auto;
  display: grid;
  gap: rhythm(4);
}

.overview {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: rhythm(4);
}

.paneHeading {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  margin-bottom: rhythm(2);

  &__right {
    margin-left: auto;
  }
}

.rewardAmount {
  font-size: 14px;
  line-height: 24px;
  font-family: "DigitalNumbers", monospace;
  text-shadow: 1px 1px 5px #ffffff99;
}

.paneText {
  display: block;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  margin-top: rhythm(1);
}

.paneSubheading {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  margin-top: rhythm(-1);
  margin-bottom: rhythm(2);
  text-align: left;
  color: #93a1b8;
}

.number {
  display: flex;
  align-items: end;

  &__value {
    font-size: 20px;
    line-height: 28px;
    font-family: "DigitalNumbers", monospace;
    text-shadow: 1px 1px 5px #ffffff99;
  }

  &__unit {
    font-size: 16px;
    line-height: 16px;
    margin-left: rhythm(1);
  }

  &__percentage {
    font-size: 12px;
    line-height: 16px;
    margin-left: rhythm(2);
    font-family: "DigitalNumbers", monospace;
    color: #ce5e5e;
  }

  &__text {
    font-size: 12px;
    line-height: 16px;
    margin-left: rhythm(1);
    white-space: nowrap;
  }
}

.rewards {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: rhythm(4);

  &__heading {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
  }

  &__intro {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #93a1b8;
    margin-top: rhythm(2);
  }
}

.rewardsValue {
  font-family: "DigitalNumbers", monospace;
  font-size: 22px;
  line-height: 28px;
  text-shadow: 1px 1px 5px #ffffff99;
}

.rewardsAmount {
  font-family: "DigitalNumbers", monospace;
  font-size: 22px;
  line-height: 28px;
  text-shadow: 1px 1px 5px #ffffff99;
  display: flex;
  align-items: center;

  &__icon {
    width: rhythm(3);
    height: rhythm(3);
    border-radius: 50%;
    margin-right: rhythm(0.75);
    background: #000;
  }
}

// .tabs {
//   display: grid;
//   grid-template-columns: 2fr 1fr 1fr;
//   gap: rhythm(4);
//   margin-bottom: rhythm(3);
// }

.tablePane {
  padding: rhythm(2) 0 !important;
}

.controller {
  display: flex;
  align-items: center;
  padding: rhythm(3) rhythm(4);

  &__heading {
    display: block;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
  }
}

.table {
  width: 100%;

  th {
    text-align: left;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    color: #93a1b8;
    padding: rhythm(1) rhythm(1) rhythm(1.5);
  }

  td {
    font-size: 13px;
    line-height: 18px;
    font-weight: 500;
    padding: rhythm(2) rhythm(1) rhythm(1.5);
  }

  th:first-child,
  td:first-child {
    padding-left: rhythm(4);
  }

  th:last-child,
  td:last-child {
    padding-right: rhythm(4);
    text-align: right;
  }
}

.coin {
  &__data {
    display: flex;
    align-items: center;
    gap: rhythm(1);
  }

  &__name {
    font-size: 13px;
    line-height: 14px;
    font-weight: 700;
  }

  &__label1,
  &__label2 {
    font-size: 8px;
    line-height: 14px;
    font-weight: 700;
    padding-left: rhythm(1);
    padding-right: rhythm(1);
    border-radius: rhythm(1);
  }

  &__label1 {
    background: rgba(255, 255, 255, 0.2);
  }

  &__label2 {
    background: #0d1329;
  }

  &__price {
    font-size: 10px;
    line-height: 14px;
    color: #93a1b8;
    display: block;
    margin-top: rhythm(0.5);
  }
}

.entry {
  display: flex;
  justify-content: space-between;

  &:not(:last-child) {
    margin-bottom: rhythm(1.5);
  }

  &__title {
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    color: #93a1b8;
  }

  &__value {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .unit {
      margin-left: rhythm(1);
      font-size: 12px;
      line-height: 16px;
      font-weight: 500;
    }

    .icon {
      display: block;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: #000;
      margin-left: rhythm(1);
    }
  }

  &__value2 {
    display: flex;
    flex-direction: column; //
    align-items: end;
    gap: rhythm(1);
  }
}

.value {
  font-family: "DigitalNumbers" monospace;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;

  &::before {
    content: attr(data-prefix);
    font-size: 12px;
    line-height: 16px;
    margin-right: rhythm(1);
    font-family: "Satoshi" sans-serif;
  }
}

.button {
  white-space: nowrap;
  padding-left: rhythm(3);
  padding-right: rhythm(3);
  height: 44px;
  border-radius: rhythm(3);
  background: #ffffff33;
  border: 1px solid #ffffff33;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.expandTD {
  padding: 0 !important;
}

.expandPane {
  border-top: 8px solid #0d1329;
  padding: rhythm(3);
  background: #333a51;
  margin-bottom: rhythm(1);

  &__container {
    padding-top: rhythm(3);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: rhythm(3);
  }

  &__left {
    display: flex;
    flex-direction: column;
    gap: rhythm(3);
  }

  &__right {
    display: flex;
    flex-direction: column;
    gap: rhythm(2);

    > button {
      width: 160px !important;
    }
  }
}

.openRow {
  > td {
    background: #333a51;
  }
}

.pane {
  border-radius: rhythm(2);
  background: linear-gradient(30.52deg, #0d1329 29.99%, rgba(98, 98, 98, 0.01) 353.12%);
  padding: rhythm(3);
}

.green {
  color: #59ae99;
}

.red {
  color: #ce5e5e;
}

.modal {
  position: fixed;
  z-index: 10000;
  inset: 0;

  &__bg {
    position: absolute;
    z-index: 1;
    inset: 0;
    background: rgba(0, 0, 0, 0.75);
  }

  &__box {
    position: absolute;
    z-index: 10;
    inset: 0;
    width: 50vw;
    height: max-content;
    margin: auto;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: rhythm(4);
  }

  &__text {
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    color: #93a1b8;
  }

  &__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: rhythm(5);
  }

  &__bgroup {
    display: flex;
    align-items: center;
    justify-content: end;

    > button {
      width: 200px;
    }
  }
}

.input {
  border: 1px solid #93a1b8;
  border-radius: rhythm(1);
  padding: rhythm(1.5) rhythm(2);

  &__top,
  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__top {
    margin-bottom: rhythm(1);
  }

  &__input {
    font-size: 18px;
    line-height: 24px;
  }
}

.positionPane {
  display: block;
  border: 1px solid #93a1b8;
  border-radius: rhythm(1);
  text-align: center;
  padding: rhythm(1.75);

  &:not(:last-child) {
    margin-bottom: rhythm(2);
  }

  &__title {
    font-size: 18px;
    line-height: 20px;
  }

  &__value {
    margin-top: rhythm(1);
    font-size: 18px;
    line-height: 24px;
    font-family: "DigitalNumbers", monospace;
    text-shadow: 1px 1px 5px #ffffff99;
  }

  &__price {
    margin-top: rhythm(1);
    color: #93a1b8;
    font-size: 14px;
    line-height: 16px;
  }
}

.bgroup {
  padding-top: rhythm(3);
  display: flex;
  gap: rhythm(2);
}
