.Background {
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  cursor-events: none;

  &__top_left {
    position: absolute;
    z-index: 1;
  }

  &__bottom_right {
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
  }

  &__star1 {
    position: absolute;
    z-index: 1;
    bottom: 20vh;
    left: 20vw;
  }

  &__star2 {
    position: absolute;
    z-index: 1;
    top: 20vh;
    right: 25vw;
  }
}
